/* ChefDetails.css */
.chef-details-container {
  /* Other styles for the container */
}
.chef-photo-container {
  /* Other styles for the photo container */
  transition: all 0.6s ease-in-out; /* Transition all properties smoothly */
}

.chef-photo {
  /* Other styles for the image */
  max-width: 100%; /* Ensure the image scales within its container */
  height: auto; /* Maintain aspect ratio */
}

/* ChefDetails.css */
.chef-details-single-column {
  /* Styles for single-column layout */
  transition: all 0.6s ease-in-out; /* Example transition: all properties smoothly */
}

.chef-details-multi-column {
  /* Styles for multi-column layout */
  transition: all 0.6s ease-in-out; /* Example transition: all properties smoothly */
}
.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
